{{define "title"}}Update Password{{end}}

{{define "main"}}
<form action='/user/account/update' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
        <label>Current Password:</label>
        {{with .Form.FieldErrors.currentpassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='currentpassword'>
    </div>
    <div>
        <label>New Password:</label>
        {{with .Form.FieldErrors.newpassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='newpassword'>
    </div>
    <div>
        <label>Confirm Password:</label>
        {{with .Form.FieldErrors.confirmpassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='confirmpassword'>
    </div>
    <div>
        <input type='submit' value='Update'>
    </div>
</form>
{{end}}